In [11]:
import pandas as pd

data1 = pd.read_csv("data1.csv")
data1

   排名    球隊
0   1    公鹿
1   2  賽爾提克
2   3   76人
3   4    騎士
4   5    尼克
5   6    籃網
6   7    熱火
7   8    老鷹
8   9    暴龍
9  10    巫師

In [3]:
data2 = pd.read_csv("data2.csv")
data2

   排名    球隊
0   1    熱火
1   2  賽爾提克
2   3    公鹿
3   4   76人
4   5    暴龍
5   6    公牛
6   7    籃網
7   8    老鷹
8   9    騎士
9  10    黃蜂

In [4]:
#列出子集合
set_data1 = set(data1["球隊"])
set_data1

{'76人', '公鹿', '尼克', '巫師', '暴龍', '熱火', '籃網', '老鷹', '賽爾提克', '騎士'}

In [5]:
set_data2 = set(data2["球隊"])
set_data2

{'76人', '公牛', '公鹿', '暴龍', '熱火', '籃網', '老鷹', '賽爾提克', '騎士', '黃蜂'}

In [6]:
#交集
#近兩個賽季都保持在前十的球隊
(set_data1 & set_data2)

{'76人', '公鹿', '暴龍', '熱火', '籃網', '老鷹', '賽爾提克', '騎士'}

In [7]:
#聯集
#去年與今年有進入前十的球隊
(set_data1 | set_data2)

{'76人', '公牛', '公鹿', '尼克', '巫師', '暴龍', '熱火', '籃網', '老鷹', '賽爾提克', '騎士', '黃蜂'}

In [8]:
#差集
#與去年賽季相比掉出前十的球隊
(set_data1 - (set_data1 & set_data2))

{'尼克', '巫師'}

In [9]:
#對稱差集
(set_data1 | set_data2 - (set_data1 & set_data2))

{'76人', '公牛', '公鹿', '尼克', '巫師', '暴龍', '熱火', '籃網', '老鷹', '賽爾提克', '騎士', '黃蜂'}